In [2]:
# base json file needs to be encased on [] and have a comma separating each item
# modifies the json file to be readable. into business.json

import os.path

def reformatJson():
    with open('data/meta-California.json', 'r') as infile, open('data/business.json', 'w') as outfile:
        outfile.write('[\n')
        lines = infile.readlines()

        # adds comma to every line except last
        for i, line in enumerate(lines):
            if i < len(lines) - 1: line = line.rstrip() + ',\n'
            outfile.write(line)

        outfile.write(']')
        
if not os.path.isfile('data/business.json') : reformatJson()

In [1]:
import pandas as pd
cali = pd.read_json('data/business.json')

In [9]:
dropped = cali.drop(columns=['price', 'description', 'MISC', 'state', 'url', 'relative_results', 'name', 'latitude', 'longitude', 'hours'], axis=1)
dropped = dropped.dropna()
dropped.columns.tolist()

['address', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews']

In [10]:
target_cities = ["Davis", "Sacramento"]

# is the address in the target cities list
def city_filter (row) :
    try: return row.address.split(', ')[2] in target_cities
    except: return False

df = dropped
city_only = df[df.apply(city_filter, axis=1)]

print(city_only.size)
city_only.head()

56695

,address,gmap_id,category,avg_rating,num_of_reviews
13,"Aurora Massage, 2033 Marconi Ave, Sacramento, ...",0x809ad993cd15cc69:0x38291ec9a11f59ed,[Massage therapist],4.2,56
15,"Orient Massage, 5800 Madison Ave # U2, Sacrame...",0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,[Massage therapist],3.6,15
18,"Porvene Doors, 4119 S Market Ct # D, Sacrament...",0x809ad7b6234f1ff9:0xe5622114044a3a90,[Door supplier],4.0,4
23,"Origin Church, 4600 Winding Way, Sacramento, C...",0x809b2063472fb85b:0x7d6aad89aefc4aea,[Church],5.0,8
141,"River City Staffing, 3301 Watt Ave #100, Sacra...",0x809ad965d1d35db7:0xcf8b3ebe7becc5fa,[Employment agency],3.2,13

In [8]:
city_only.category

13                                      [Massage therapist]
15                                      [Massage therapist]
18                                          [Door supplier]
23                                                 [Church]
141                                     [Employment agency]
                                ...
515756                       [Ice cream shop, Dessert shop]
515763                                              [Store]
515777    [Ice cream shop, Dessert restaurant, Donut sho...
515790                                     [Animal shelter]
515802                                          [Bank, ATM]
Name: category, Length: 9408, dtype: object