In [1]:
# base json file needs to be encased on [] and have a comma separating each item
# modifies the json file to be readable. into business.json

import os.path

def reformatJson():
    with open('data/meta-California.json', 'r') as infile, open('data/business.json', 'w') as outfile:
        outfile.write('[\n')
        lines = infile.readlines()

        # adds comma to every line except last
        for i, line in enumerate(lines):
            if i < len(lines) - 1: line = line.rstrip() + ',\n'
            outfile.write(line)

        outfile.write(']')
        
if not os.path.isfile('data/business.json') : reformatJson()

In [2]:
import pandas as pd
cali = pd.read_json('data/business.json')

In [14]:
dropped = cali.drop(columns=['price', 'description', 'MISC', 'state', 'url', 'relative_results', 'name', 'latitude', 'longitude', 'hours'])
dropped = dropped.dropna()
dropped.columns.tolist()

['address', 'gmap_id', 'category', 'avg_rating', 'num_of_reviews']

In [30]:
yolo_county = ["Davis", "Woodland", "West Sacramento"]
sac_county = ["Sacramento", "Elk Grove", "Citrus Heights", "Folsom", "Rancho Cordova"]

target_cities = yolo_county + sac_county

# is the address in the target cities list
def city_filter (row) :
    try: return row.address.split(', ')[2] in target_cities
    except: return False

yolosac = dropped[dropped.apply(city_filter, axis=1)]
yolosac = yolosac.drop(columns=["address"])

yolosac.head()

,gmap_id,category,avg_rating,num_of_reviews
13,0x809ad993cd15cc69:0x38291ec9a11f59ed,[Massage therapist],4.2,56
15,0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,[Massage therapist],3.6,15
18,0x809ad7b6234f1ff9:0xe5622114044a3a90,[Door supplier],4.0,4
23,0x809b2063472fb85b:0x7d6aad89aefc4aea,[Church],5.0,8
25,0x8084d0c62e26baa9:0x8829fbf306ee0c41,[Church],4.7,17

In [31]:
with open('yolosac.csv', 'w') as outfile:
    outfile.write(yolosac.to_csv(index=False))

In [32]:
ys = pd.read_csv('yolosac.csv')
ys

,gmap_id,category,avg_rating,num_of_reviews
0,0x809ad993cd15cc69:0x38291ec9a11f59ed,['Massage therapist'],4.2,56
1,0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,['Massage therapist'],3.6,15
2,0x809ad7b6234f1ff9:0xe5622114044a3a90,['Door supplier'],4.0,4
3,0x809b2063472fb85b:0x7d6aad89aefc4aea,['Church'],5.0,8
4,0x8084d0c62e26baa9:0x8829fbf306ee0c41,['Church'],4.7,17
...,...,...,...,...
17530,0x809ad0dc95d366e1:0xd01da213a959bf71,['American restaurant'],4.4,694
17531,0x809ae513bfe69e8b:0xef24e3f6e1593a33,['Gas station'],4.6,266
17532,0x809ae50602ec9313:0xc36df52cab3fa80,['Movie theater'],4.5,2048
17533,0x809add6b67412841:0x51386482530fe0d9,['Pizza restaurant'],4.6,457
17534,0x809ae5095015de5f:0x2626d9ea03844d5d,"['Electronics store', 'Appliance store', 'Comp...",4.2,1268