In [3]:
import pandas as pd

In [1]:
# base json file needs to be encased on [] and have a comma separating each item
# modifies the json file to be readable. into business.json

import os.path

def reformatJson():
    with open('data/meta-California.json', 'r') as infile, open('data/business.json', 'w') as outfile:
        outfile.write('[\n')
        lines = infile.readlines()

        # adds comma to every line except last
        for i, line in enumerate(lines):
            if i < len(lines) - 1: line = line.rstrip() + ',\n'
            outfile.write(line)

        outfile.write(']')

    infile.close()
    outfile.close()

if not os.path.isfile('data/business.json') : reformatJson()

In [4]:
cali = pd.read_json('data/business.json')

In [46]:
dropped = cali.drop(columns=['gmap_id', 'description', 'MISC', 'state', 'url', 'relative_results'])
dropped = dropped.drop(columns=['price']) # for now
dropped = dropped.dropna()
dropped.columns.tolist()

['name',
 'address',
 'latitude',
 'longitude',
 'category',
 'avg_rating',
 'num_of_reviews',
 'hours']

In [36]:
# price is a factor 
# price_dummy = pd.get_dummies(dropped['price'])

# # category is an subset of 1465 categories
# dropped['category'].explode().unique().size
#     # not sure what to do with that
#         # theres things like 'coffee shop' and 'coffee store'
#     # maybe we can try to reduce these categories somehow
# # hours is an array of an array [day of week, starthr-endhr]

1465

In [28]:
import re

def string_to_hours (string : str, AM = False) -> (float, bool):
    match = re.match(r'(\d+)(?::(\d+))?(\D*)', string)
    hours, minutes, period = match.groups()
    AM = (period == '' and AM) or period == "AM"
    return (float(hours) + (0 if AM else 12) + (float(minutes) if minutes else 0) / 60, AM)

def range_to_hours (string: str) -> float:
    if string == 'Open 24 hours': return 24
    elif string == 'Closed' : return 0
    try:
        start, end = string.split('â€“')
        endTime, endPeriod = string_to_hours(end)
        startTime = string_to_hours(start, endPeriod)[0]
        difference = endTime - startTime
        return difference if difference > 0 else 24 + difference
    except:
        raise Exception("Couldn't enumerate: " + string)

In [43]:
weekly_hours = dropped['hours'].map(\
    lambda entry: sum(map(\
        lambda day: range_to_hours(day[1]), entry)\
    )\
)

In [47]:
modified = dropped.copy()
modified = modified.drop(columns=['hours'])
modified['weekly_hours'] = weekly_hours
modified.head()

,name,address,latitude,longitude,category,avg_rating,num_of_reviews,weekly_hours
1,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",34.058092,-118.292130,[Korean restaurant],4.4,18,74.5
2,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",34.023669,-118.232930,[Fabric store],3.3,6,40.0
3,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",34.036694,-118.249421,[Fabric store],4.3,7,40.0
4,Matrix International Textiles,"Matrix International Textiles, 1363 S Bonnie B...",34.015505,-118.181839,[Fabric store],3.5,6,45.0
5,Vons Chicken,"Vons Chicken, 12740 La Mirada Blvd, La Mirada,...",33.916402,-118.010855,[Restaurant],4.5,18,63.0