In [21]:
import pandas as pd
import seaborn as sns

yolosac = pd.read_csv('data/yolosac.csv')
yolosac

,gmap_id,category,avg_rating,num_of_reviews
0,0x809ad993cd15cc69:0x38291ec9a11f59ed,['Massage therapist'],4.2,56
1,0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,['Massage therapist'],3.6,15
2,0x809ad7b6234f1ff9:0xe5622114044a3a90,['Door supplier'],4.0,4
3,0x809b2063472fb85b:0x7d6aad89aefc4aea,['Church'],5.0,8
4,0x8084d0c62e26baa9:0x8829fbf306ee0c41,['Church'],4.7,17
...,...,...,...,...
17933,0x809ad0dc95d366e1:0xd01da213a959bf71,['American restaurant'],4.4,694
17934,0x809ae513bfe69e8b:0xef24e3f6e1593a33,['Gas station'],4.6,266
17935,0x809ae50602ec9313:0xc36df52cab3fa80,['Movie theater'],4.5,2048
17936,0x809add6b67412841:0x51386482530fe0d9,['Pizza restaurant'],4.6,457
17937,0x809ae5095015de5f:0x2626d9ea03844d5d,"['Electronics store', 'Appliance store', 'Comp...",4.2,1268

In [7]:
yolosac['category'].explode()

0                                    ['Massage therapist']
1                                    ['Massage therapist']
2                                        ['Door supplier']
3                                               ['Church']
4                                               ['Church']
                               ...
17933                              ['American restaurant']
17934                                      ['Gas station']
17935                                    ['Movie theater']
17936                                 ['Pizza restaurant']
17937    ['Electronics store', 'Appliance store', 'Comp...
Name: category, Length: 17938, dtype: object

In [22]:
yolosac['category'] = yolosac['category'].apply(eval)
print (yolosac['category'])

0                                      [Massage therapist]
1                                      [Massage therapist]
2                                          [Door supplier]
3                                                 [Church]
4                                                 [Church]
                               ...
17933                                [American restaurant]
17934                                        [Gas station]
17935                                      [Movie theater]
17936                                   [Pizza restaurant]
17937    [Electronics store, Appliance store, Computer ...
Name: category, Length: 17938, dtype: object

In [32]:
# Top 30 business categories
print(yolosac['category'].explode().value_counts().iloc[:30])

category
Restaurant              1352
Fast food restaurant     649
Auto repair shop         513
Park                     463
Mexican restaurant       429
Beauty salon             428
Takeout Restaurant       398
Coffee shop              394
Grocery store            382
Breakfast restaurant     380
Gas station              377
Hair salon               364
Sandwich shop            359
Cafe                     353
American restaurant      347
Tourist attraction       322
Pizza restaurant         320
Caterer                  319
Nail salon               318
Convenience store        310
Bar                      285
Hamburger restaurant     285
Clothing store           260
Cell phone store         235
Tire shop                222
Barber shop              211
ATM                      210
Used car dealer          209
Chinese restaurant       207
Auto parts store         199
Name: count, dtype: int64